*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  padding: 0;
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box{
  background-color: #EEEEEE;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.img1{
  height: 150px;
  background-image: url(ch9img/flow01.png);
  background-size: cover;
  background-position: bottom;

}

.img2{
  height: 150px;
  background-image: url(ch9img/flow02.png);
  background-size: cover;
  background-position: bottom;

}
.img3{
  height: 150px;
  background-image: url(ch9img/flow03.png);
  background-size: cover;
  background-position: bottom;

}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title{
  margin-top: 15px;
}


footer{
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px){

    header {
    width: 100%;
    margin: 0px;
  }


  main{
   width: 100%;
   padding: 0;
   margin: 50px 0;
   display: flex;
   flex-direction: column;
  }

  .step-box{
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .step-box:first-child {
  margin-top: 0;
  }

  footer{
   width: 100%;
  }

}